###############################################################################
# Text
###############################################################################

* text=auto eol=lf

###############################################################################
# Source Code
###############################################################################

*.php text
*.ts text
*.js text
*.vue text
*.css text
*.scss text
*.json text
*.xml text
*.md text
*.yml text
*.yaml text
*.sh text eol=lf

###############################################################################
# Images
###############################################################################

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text
*.ico binary

###############################################################################
# Fonts
###############################################################################

*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary

###############################################################################
# Archives
###############################################################################

*.zip binary
*.gz binary
*.tar binary